<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <title>몽당</title>
    <style>
        .tblmd{
            width: 95%;
        }
        .td6{
            font-size: 0.67em;
            margin-left: 0;
            margin-right: 0;
        }
        .td6c{
            text-align:center;
            font-size: 0.67em;
            margin-left: 0;
            margin-right: 0;
        }
        .tdh6{
            font-size: 0.67em;
            margin-left: 0;
            margin-right: 0;
            font-weight: bold;
        }
        .tdh6c{
            text-align:center;
            font-size: 0.67em;
            margin-left: 0;
            margin-right: 0;
            font-weight: bold;
        }
        .notes {
            background-attachment: local;
            background-image:
                linear-gradient(to right, white 10px, transparent 10px),
                linear-gradient(to left, white 10px, transparent 10px),
                repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
            line-height: 31px;
            padding: 8px;
            border: none;
            outline: none;
        }
        .align-left {
            text-align: left;
        }
    </style>
    <script type="text/javascript">
    function addnote() {
        function success(position) {
            id_latitude.value = position.coords.latitude; // 위도
            id_longitude.value = position.coords.longitude; // 경도

            document.forms['paperform'].submit();
        };

        function error(error) {
            document.forms['paperform'].submit();
        };

        Swal.fire({
            html: '<div class="align-left">from.' + '{{ user.username }}' + '</div>'
                + '<br><textarea class="notes" id="contents" cols="30" rows="6" maxlength="100" placeholder="뻐끔뻐끔"></textarea>',
            showCancelButton: false,
            confirmButtonText: '던지기',
            showClass: {
                popup: 'animate__animated animate__jackInTheBox'
            },
            hideClass: {
                popup: 'animate__animated animate__hinge'
            },
            preConfirm: () => {
                const contents = Swal.getPopup().querySelector('#contents').value
                if (!contents) {
                    Swal.showValidationMessage(`쪽지 내용을 적어주세요.`)
                }
                return { contents: contents }
            },
        }).then((result) => {
            if(result.isConfirmed && result.value.contents != null && result.value.contents != '') {
                id_contents.value = result.value.contents;
                id_action.value = "addnote";

                // HTML5의 GeoLocation을 사용할 수 있을 때,
                if (navigator.geolocation) {
                    // GeoLocation을 이용해서 접속 위치를 얻어옵니다.
                    navigator.geolocation.getCurrentPosition(success, error);

                    Swal.fire({
                        icon: 'info',
                        html: '쪽지 고이 접어 던지는 중~✈︎',
                        timer: 5000,
                        timerProgressBar: true,
                        didOpen: () => {
                            Swal.showLoading()
                        },
                    });
                } else {
                    document.forms['paperform'].submit();
                }
            }
        });
    }

    async function getnote(username, contents, noteid) {
        const steps = 2;
        const swalQueueStep = Swal.mixin({
            confirmButtonText: '댓글 ✏',
            cancelButtonText: '◀ 뒤로',
            reverseButtons: true,
        });

        let currentStep;
        let result;
        let comments;

        for (currentStep = 0; currentStep < steps;) {
            if (currentStep == 0) {
                result = await swalQueueStep.fire({
                    html: '<div class="align-left">from.' + username + '</div>'
                        + '<br><textarea class="notes" cols="30" rows="6" readonly>' + contents + '</textarea>',
                    showConfirmButton: true,
                    showCancelButton: false,
                    preConfirm: () => {
                        return fetch(`/mongdang/api/comments/`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded',
                                'X-CSRFToken': '{{csrf_token}}'
                            },
                            body:new URLSearchParams('action=getcomments&noteid=' + noteid)
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error(response.statusText)
                            }
                            return response.json()
                        })
                        .catch(error => {
                            Swal.showValidationMessage(`Request failed: ${error}`)
                        })
                    },
                    hideClass: {
                        popup: 'animate__animated animate__flipOutX'
                    }
                }).then((result) => {
                    comments = '<div style="overflow-x:hidden; overflow-y:scroll; height:150px;">'
                        + '<table class="table table-striped">';
                    for (var comment in result.value) {
                        comments += '<tr>'
                                + '<td style="width:40%">'
                                    + 'from.' + result.value[comment].user.username
                                + '</td>'
                                + '<td>'
                                    + result.value[comment].comment
                                + '</td>'
                            + '</tr>';
                    }
                    comments += '</table>' + '</div>';

                    return result
                });
            } else if (currentStep == 1) {
                result = await swalQueueStep.fire({
                    icon: 'question',
                    html: comments,
                    input: 'text',
                    inputPlaceholder: '댓글을 적어주세요.',
                    inputAttributes: {
                        maxlength: 50
                    },
                    showConfirmButton: true,
                    showCancelButton: true,
                    showDenyButton: true,
                    denyButtonText: '덮기',
                    preConfirm: (comment) => {
                        return fetch(`/mongdang/api/comments/`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded',
                                'X-CSRFToken': '{{csrf_token}}'
                            },
                            body:new URLSearchParams('action=addcomment'
                                + '&username=' + '{{ user.username }}'
                                + '&noteid=' + noteid
                                + '&comment=' + comment
                                )
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error(response.statusText)
                            }
                            return response.json()
                        })
                        .catch(error => {
                            Swal.showValidationMessage(`Request failed: ${error}`)
                        })
                    },
                    hideClass: {
                        popup: 'animate__animated animate__flipOutX'
                    }
                }).then((result) => {
                    comments = '<div style="overflow-x:hidden; overflow-y:scroll; height:150px;">'
                        + '<table class="table table-striped">';
                    for (var comment in result.value) {
                        comments += '<tr>'
                                + '<td style="width:40%">'
                                    + 'from.' + result.value[comment].user.username
                                + '</td>'
                                + '<td>'
                                    + result.value[comment].comment
                                + '</td>'
                            + '</tr>';
                    }
                    comments += '</table>' + '</div>';

                    return result
                });
            }

            if (result.value) {
                if (currentStep != 1) {
                    currentStep++;
                }
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                currentStep--;
            } else {
                break;
            }
        }

        if (currentStep === steps) {
            Swal.fire({
                icon: 'success',
                html: '댓글 등록 완료(API 호출 필요)',
                showCancelButton: false,
                showConfirmButton: false,
                hideClass: {
                    popup: 'animate__animated animate__flipOutX'
                }
            });
        }
    }

    function listnotes() {
        Swal.fire({
            icon: 'success',
            html: '<div style="overflow-x:hidden; overflow-y:scroll; height:150px;">'
                    + '<table class="table table-striped">'
                        {% for note in notes %}
                        + '<tr onclick="javascript:getnote(\'{{ note.user.username }}\',\'{{ note.contents }}\',\'{{ note.id }}\')">'
                            + '<td style="width:40%">'
                                + 'from.' + '{{ note.user.username|slice:"0:4" }}'
                            + '</td>'
                            + '<td>'
                                + '{{ note.contents|slice:"0:10" }}'
                            + '</td>'
                        + '</tr>'
                        {% endfor %}
                    + '</table>'
                + '</div>',
            showCancelButton: false,
            showConfirmButton: false,
            showClass: {
                popup: 'animate__animated animate__fadeInTopLeft'
            },
            hideClass: {
                popup: 'animate__animated animate__fadeOutBottomRight'
            }
        });
    }
    </script>
</head>
<body>
{% include "./menu.html" %}
{% load static %}
{% load mongdang_tags %}
<form name="paperform" action="{% url 'mongdang:paper' user.username %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="action" id="id_action"/>
    <input type="hidden" name="username" id="id_username" value="{{ user.username }}"/>
    <input type="hidden" name="latitude" id="id_latitude" value="{{ latitude }}"/>
    <input type="hidden" name="longitude" id="id_longitude" value="{{ longitude }}"/>
    <input type="hidden" name="contents" id="id_contents"/>
    <input type="hidden" name="noteid" id="id_noteid"/>
    <input type="hidden" name="comment" id="id_comment"/>
</form>
<div id="paper_msg" style="text-align:center;">
    <p class="text-warning">내 주변에 있는 쪽지가 보여집니다.</p>
</div>
<p style="text-indent: 0.5em;">
    <div id="note_btn">
        <table class="tblmd" style="margin-left: auto;margin-right: auto;">
            <tr>
                <td class="tdh6" style="text-align:left;">
                {% if notes|length > 0 %}
                    <img id="pencil" onclick="listnotes()" src="{% static  'mongdang/images/' %}mongdang/pencil.png" style="width:24px;height:24px;">
                {% endif %}
                </td>
                <td class="tdh6" style="text-align:right;">
                    <button type="button" onclick="addnote()" class="btn btn-outline-info" style="height:25px;padding-top:initial;padding-bottom:initial;">쪽지쓰기</button>
                </td>
            </tr>
        </table>
    </div>
</p>
<p style="text-indent: 0.5em;">
    <div id="map_wrap">
        <div id="map" style="width:100%;height:75%;position:relative;overflow:hidden;"></div>
    </div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5322a0f7bce0519403d553814a9946c5"></script>
<script>
    var mapContainer = document.getElementById('map');
    var mapOptions = {
        center: new kakao.maps.LatLng({{ latitude }}, {{ longitude }}),
        draggable: false,
        level: 3
    };

    var map = new kakao.maps.Map(mapContainer, mapOptions);

{% for note in notes %}
    var locPosition = new kakao.maps.LatLng({{ note.latitude }}, {{ note.longitude }});

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        map: map,
        position: locPosition,
    {% if note.user.username == user.username %}
        image: new kakao.maps.MarkerImage('{% static  'mongdang/images/' %}mongdang/markerStar.png', new kakao.maps.Size(24, 35)) // 마커이미지 설정
    {% else %}
        image: new kakao.maps.MarkerImage('{% static  'mongdang/images/' %}mongdang/pencil.png', new kakao.maps.Size(24, 36)) // 마커이미지 설정
    {% endif %}
    });

    // 마커에 클릭이벤트를 등록합니다
    kakao.maps.event.addListener(marker, 'click', function() {
        getnote('{{ note.user.username }}', '{{ note.contents }}', '{{ note.id }}');
    });
{% endfor %}
</script>
</p>
</body>
</html>